on:
  push:
    branches:
      - main
  pull_request_target:

name: Functional test

jobs:
  build:
    name: Test
    runs-on: ubuntu-22.04
    permissions: write-all
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: "${{ github.event.pull_request.merge_commit_sha }}"

      - name: Setup Go 1.21.x
        uses: actions/setup-go@v5
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.21.x'

      - name: Install dependencies
        run: |
          sudo apt-get update
          echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
          sudo apt-get install -y ttf-mscorefonts-installer

      - name: Functional tests
        run: |
          find ./examples/ -name '*.yaml' | xargs -I_ yq -i '.Diagram.DefinitionFiles[0].Type="LocalFile" | del(.Diagram.DefinitionFiles[0].Url) | .Diagram.DefinitionFiles[0].LocalFile="../definitions/definition-for-aws-icons-light.yaml"' _
          go test -v ./test/...

      - if: failure()
        env:
          PR_NUMBER: ${{ github.event.number }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr comment "${PR_NUMBER}" -b "Failed functional test.  Check out generated diffs https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#artifacts  For maintainers: To approve breaking changes, use command \`/approve-breaking-changes-regenerate-example-images <REASON>\`"
          echo "Check artifacts https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#artifacts"

      - uses: actions/upload-artifact@v4.4.0
        if: failure()
        with:
          name: upload results
          path: /tmp/results/
