on:
  push:
    branches: [ '**' ]
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/func_test.yaml'
  pull_request:
    branches: [ '**' ]
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
  workflow_dispatch:

name: Functional test
permissions:
  contents: read

jobs:
  build:
    name: Test
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Go 1.21.x
        uses: actions/setup-go@v5
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.21.x'

      - name: Install dependencies
        run: |
          sudo apt-get update
          echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
          sudo apt-get install -y ttf-mscorefonts-installer

      - name: Functional tests
        run: |
          go test -v ./test/...

      - name: Build awsdac-mcp-server
        run: go build -v ./cmd/awsdac-mcp-server

      - if: failure()
        run: echo "Check artifacts https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID#artifacts"

      - uses: actions/upload-artifact@v4.4.0
        if: failure()
        with:
          name: upload results
          path: /tmp/results/
